//Created by aman1 on 21/03/2017.

extends layout

block content
    #banner.page-header
    .row
        .col-lg-6
            h3= pageHeader.title
        .row
            .col-xs-12.col-md-9
                .error= message
                    #{loggedIn}
                        if loggedIn
                            a.btn.btn-default.pull-right(href="/newauthor") Add Author
                        else
                            small You must log in to add authors.
    .row
        .col-xs-12.col-md-9
            .panel-body
                each author in authors
                    .row
                        .col-xs-12
                        .col-sm-12
                            .row
                                .list-group-item
                                    h4
                                      a(href="/author/#{author}")= author