//
   Created by aman1 on 21/03/2017.

extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h3= pageHeader.title

    .row
        .col-xs-12.col-sm-8
            .error= message
                #{loggedIn}
                    if loggedIn
                        a.btn.btn-default.pull-right(href="/new") Add Author
                    else
                        a.btn.btn-default.pull-right(href="/login") Log-in
            .row.list-group
                each author in authors
                    .col-xs-12.list-group-item
                        h4
                          a(href="/authors/#{author._id}")= author.name
