extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h3= pageHeader.title

    .row
        .col-xs-12.col-sm-8
            .row.list-group
                each book in books
                    .col-xs-12.list-group-item
                        h4
                        a(href="/book")= book.name
                        p.rating= book.rating
                        p.author= book.author
