//Created by aman1 on 06/03/2017.

extends layout

block content
  .row.page-header
    .col-xs-12
      h1 The escape
  .row
    .col-xs-12.col-md-9
      .row
        col-xs-12.col-sm-6
         p.rating
           p 5
