
extends layout

block content
    .row.page-header
        .col-lg-12
            h3= pageHeader.title
    .container
        p=message
       // h1= message
    //h2= error.status
    //pre #{error.stack}