extends layout

block content
    p Welcome to #{title}

    .container
        .navbar-header
            #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav

                li
                    a(href="#login") Login
                li
                    a(href="#register") Register