//Created by aman1 on 06/03/2017.

doctype html
html
    head
        title= title
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', rel= 'jquery')
        link(href='/stylesheets/style.css', rel='stylesheet')

    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='/') Bookface
                ul.nav.navbar-nav
                    li
                        a(href='/login') Login
                    li
                        a(href='/register') Register

        .container
            block content

        .container
            #footer
                .row
                    .col-xs-12
                        small &copy; Aman 2017



